<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Check how much you'll get in benefits</title>


  <link rel='stylesheet' href='https://www.citizensadvice.org.uk/static/build/css/site.css?_ffc=5248468199667387904'>
<link rel='stylesheet' href='https://unpkg.com/@citizensadvice/cads-system@latest/build/cads.system.css'>

      <link rel="stylesheet" href="css/style.css">


</head>

<body>

  <header class="c-global-header">
  <div class="c-wrap">
    <div class="c-global-header__product-title">
      <img src="https://citizensadvice.github.io/cads/images/citizens_advice_logo.svg" alt="Citizens Advice logo">
    </div>
  </div>
</header>

<div class="c-wrap">
  <div class="o-grid">
    <div class="o-grid__unit o-grid__unit--t-2-3">
 <div class="title">
        <h1 id="RootPlaceHolder_RootPlaceHolder_H1_top" class="title__heading js-ref">

            <span class="title__title">Check how much you'll get in benefits</span>
        </h1>

        <div class="title__subheading">
            <span class="hide-old-designs">
                This advice applies to

                    <a class="btn-secondary btn-small js-toggle-extent-dialog" href="/resources-and-tools/about-this-site/location/">
                        England</a>

            </span>
            <button class="toolbar-button hide-no-js hide-old-designs" type="button" onclick="window.print();" data-track="Print-BC">
                Print
            </button>




        </div>


    </div>

    <div class="articleContent">
        <div>
	<p dir="ltr">Here are the current rates for Universal Credit:</p>
<ul>
<li dir="ltr">
<p dir="ltr">housing: £{{rate1}}</p>
</li>
<li dir="ltr">
<p dir="ltr">disability: £{{rate2}}</p>
</li>
</ul>
<p>Here's a table of previous years:</p>
<div class="table-scroll"><table>
<thead>
<tr><th scope="col">Benefit</th><th scope="col">Rate</th></tr>
</thead>
<tbody>
<tr>
<td>Housing element 2017</td>
<td>£{{housing2017}}</td>
</tr>
<tr>
<td>Housing element 2018</td>
<td>£{{housing2018}}</td>
</tr>
<tr>
<td>Attendance Allowance</td>
<td>£{{attendance}}</td>
</tr>
<tr>
<td>Jobseeker's Allowance</td>
<td>£{{jsa}}</td>
</tr>
</tbody>
</table></div>
<p>And that's all.</p>

<footer class="c-global-footer u-spacingBottom--none" role="contentinfo" >
  <div class="c-wrap">
    <p class="u-spacingBottom--none">
      Copyright &copy; 2018 Citizens Advice. All rights reserved.<br>
      Citizens Advice is an operating name of the National Association of Citizens Advice Bureaux. Registered charity number 279057 <br>
      VAT number 726 0202 76 Company limited by guarantee. Registered number 01436945 England<br>
      Registered office: Citizens Advice, 3rd Floor North, 200 Aldersgate, London, EC1A 4HD
    </p>
  </div>
</footer>



    <script  src="js/index.js"></script>




</body>

</html>
